p {
  background-color: gray;
}

#p1 {
  background-color: #c96e00;
}

#p2 {
  background-color: blue;
  color: white;
}

#p3 {
  background-color: white;
  border: 1px solid gray;
  line-height: 130%;
  font-family: verdana, arial, helvetica;
  font-size: 22px;
}

#p4 {
  font-weight: bold;
  line-height: 110%;
  font-size: 22px;
}